/* DoctorCard.css */
.doctor-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff80ab; /* Pink border */
}

.doctor-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff0066; /* Darker pink for the name */
}

.doctor-specialization {
  color: #ff66b2; /* Lighter pink for specialization */
  margin-bottom: 15px;
}

.hospital-info {
  margin-bottom: 10px;
  color: #ff3399; /* Another shade of pink for hospital info */
}

.office-hours {
  font-style: italic;
  color:  #ff3399; /* Light pink for office hours */
}
