/* DoctorCard.css */
.doctor-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff80ab; /* Pink border */
  text-align: center; /* Center the content */
}

.doctor-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff0066;
  font-weight: bolder;
}

.doctor-specialization {
  color: #ff66b2;
  margin-bottom: 15px;
  font-style: italic;
}

.hospital-info {
  margin-bottom: 10px;
  color: #ff3399;
}

/* Wrap up office hours and days inside a box */
.office-info-box {
  background-color: #f5f5f5; /* Light gray background */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.office-hours {
  color: #ff3399;
}

.office-days {
  color: #ff3399;
}

.fees {
  color: #ff3399;
  margin-top: 10px;
}
