/* DoctorCard.css */
.doctor-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff80ab; /* Pink border */
}

.doctor-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff0066; 
  font-weight: bolder;

}

.doctor-specialization {
  color: #ff66b2; 
  margin-bottom: 15px;
  font-style: italic;
}

.hospital-info {
  margin-bottom: 10px;
  color: #ff3399;
}

.office-hours {
  font-style: bold;
  color:  #ff3399; 
}
