/* categoryPage.css */

:root {
  --pink-color: #ffc0cb;
  --pinkone-color: #f38dbc;
  --pinktwo-color: #ef5e99;
  --orange-color: #ec6f71;
  --dark-color: #23395d;
  --pinkthree-color: #de5d83;
}

.container {
  max-width: 1134px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -3px; /* Adjust for column gaps */
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 3px; /* Adjust for column gaps */
}

/* Adjustments for category buttons */
.btn.primary {
  background: var(--pinkthree-color);
}

