
/* LearnMorePage0.css */

.page-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 70px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.page-container h1 {
  font-weight: bold;
  color: coral;
  margin-top: 2px;
}

.paragraph-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.reverse {
  grid-template-columns: 1fr 1fr;
}

.text-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.page-heading {
  text-align: center;
}

.page-paragraph {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  color: #333;
}

.paragraph-image,
.paragraph-image2 {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 30;
  animation: fadeIn 2.9s ease-in-out forwards; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
