/* LearnMorePage0.css */

html, body {
    height: 100%;
    margin: 0;
      
}

.page-container {
    background-color: aliceblue;
    max-width: 70%;
    margin: 0 auto;
    padding: 70px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.page-heading {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    color: #FB6B90;
    text-align: center;
}

.page-paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.6;
}
