



.chat-window {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin-left: auto;
  margin-top:11px;
  background-color: rgb(253, 192, 226); /* Set the background color to white */
}
.chat-window h4{

color:#d74470;
font-weight: bold;
margin-bottom: 4px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.message {
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.user {
  background-color: #f0abea; /* Light pink for user messages */
  align-self: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bot {
  background-color: #ffafc7; /* Darker pink for bot messages */
  align-self:flex-start;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
