:root {
  --pink-color: #ffc0cb;
  --pinkone-color: #f38dbc;
  --pinktwo-color: #ef5e99;
  --orange-color : #ec6f71;
  --dark-color : #23395d;
  --pinkthree-color: #de5d83;
}
.home-page {
  background: #ffc0cb;
  padding: 20px;
  text-align: center;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.text-content {
  width: 45%;
  text-align: left;
}

.image-container {
  width: 45%;
}

h1,
h2
 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

p {
  color: #fff;
  font-family: 'poppins', sans-serif;
}

/* Increase font size */
h1 {
  font-size: 48px; /* Increased font size */
}

h2 {
  font-size: 36px; /* Increased font size */
}

p {
  font-size: 20px; /* Increased font size */
}

/* Equalize image sizes */
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add border-radius for rounded corners if desired */
}

.learn-more-button {
  background-color: #ff69b4;
  color: #fff;
  padding: 15px 30px; /* Increased padding */
  font-size: 24px; /* Increased font size */
  border: none;
  cursor: pointer;
  margin-top: 40px; /* Increased margin-top */
}

.learn-more-button:hover {
  background-color: #d6458e;
}
