:root {
  --pink-color: #ffc0cb;
  --pinkone-color: #f38dbc;
  --pinktwo-color: #ef5e99;
  --orange-color : #ec6f71;
  --dark-color : #23395d;
  --pinkthree-color: #de5d83;
}
.home-page {
  background: #ffffff;
  padding: 20px;
  text-align: center;
}

.content-container {
  animation: slideIn 2s ;
  max-width: 1200px;
  margin: 0 auto;
}
@keyframes slideIn{
  0%{transform: translateX(-50%);}
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  
}

.text-content {
  width: 45%;
  text-align: left;
}



.learn-more-button h1 {
 
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: var(--pinkthree-color);
}


.learn-more-button p {
  color: var(--pinkthree-color);
  font-family: 'poppins', sans-serif;
  font-size: 20px; 
}


.learn-more-button {
  border-radius: 111px;
  background-color: var(--pink-color);
  color: #fff;
  padding: 75px 30px; 
  font-size: 24px;
  border: none;
  cursor: pointer;
  margin-top: 20px; 
}

.learn-more-button:hover {
  background-color: #ffe5ea;
}
